/*** Width ***/
$small-screen = 300px
$medium-screen = 768px
$large-screen = 1200px

$screen-xs = 450px
$screen-s = 600px
$screen-m = 900px
$screen-l = 1200px
$screen-xl = 1500px

$gutter-width = 1.4rem


/* @media

  default size => s

  @media (max-width $screen-xs)
  @media (min-width $screen-m)
  @media (min-width $screen-l)
  @media (min-width $screen-xl)

*/