extends /_layout

include _pug/_settings

append var
  - metas.title = 'top'
  - metas.description = 'description'
  - uri.folder = ''

append link
  //- link(rel='stylesheet', href="/css/weeo.css")
  //- link(rel='stylesheet', href="style.css")
  //- link(rel='stylesheet', href="/lib/materialize.css")
  //- link(rel='stylesheet', href="/components/slick-carousel/slick/slick.css")

block content
  #app

append body_end
  script(src="/js/top.js")
