append var
  - uri.protocol = 'https'
  - uri.domain = 'www.weeo.tech'
  - metas.title = 'title'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
  - metas.robots = 'index'
  - googleAnalyticsTrackingCode = 'UA-XXXXXXXX-Y'

append body_end
  script(src="/js/commons.js")
